.dragonList {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin: 20px;
}

.images {
  height: 250px;
  width: 85%;
}

.card img {
  width: 85%;
  height: auto;
  border-radius: 5px;
}

.button {
  display: inline-block;
  width: 140px;
  padding: 1em 1.2em;
  border: 0.1em solid #fff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  background-color: rgb(0, 124, 0);
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s;
}

.button:hover {
  color: #fff;
  background-color: rgb(3, 180, 3);
}

.badge {
  background: rgb(3, 159, 187);
  padding: 4px;
  margin-right: 8px;
  border-radius: 3px;
  color: #fff;
}

.noBadge {
  display: none;
}

.cancelRocket {
  display: inline-block;
  width: 180px;
  padding: 1em 1.2em;
  border: 0.1em solid #fff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  background-color: rgb(243, 6, 25);
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s;
}
